.history {
	margin-bottom: 104px;
	&__title {
		font-size: 48px;
		line-height: 120%;
		margin-bottom: 16px;
		font-weight: 500;
	}

	&__subtitle {
		line-height: 140%;
		color: #7c7b88;
		width: 590px;
		margin-bottom: 40px;
	}

	&__main {
		background: #fff;
		border-radius: 16px;
		padding: 40px;
	}

	&__main-values {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 12px;
		color: #7c7b88;
		& span:last-child {
			margin-right: 24px;
		}
	}

	&__list {
		height: 780px;
		overflow: auto;
		width: 100%;
	}

	&__card {
		display: flex;
		align-items: center;
		padding: 24px 0;
		border-top: 1px solid #dddce4;
		margin-right: 24px;
	}

	&__user {
		display: flex;
		gap: 24px;
		width: 480px;
		margin-right: 24px;
		align-items: flex-start;
	}
	&__user-picture {
		width: 48px;
		height: 48px;
		border-radius: 50%;
	}
	&__user-name {
		font-weight: 600;
		font-size: 22px;
		line-height: 120%;
		color: #24292f;
		margin-bottom: 11px;
		padding-top: 11px;
	}

	&__link {
		display: flex;
		align-items: center;
		gap: 8px;
		color: #575d65;
		font-weight: 400;
		font-size: 18px;
		line-height: 140%;
		margin-bottom: 8px;
		transition: color 0.3s;

		&:hover {
			color: #0057ff;
		}
	}

	&__link:last-child {
		margin-bottom: 0;
	}

	&__user-github,
	&__user-name {
		width: 380px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	&__badges {
		display: flex;
		gap: 2px;
		font-size: 14px;
		line-height: 140%;
	}

	&__badge {
		display: flex;
		color: #fff;
	}

	&__badge-title {
		display: block;
		padding: 2px 6px 3px 8px;
		background: #000;
		border: 1px solid #e4eaf1;
		border-radius: 4px 0px 0px 4px;
	}

	&__badge-count {
		display: block;
		padding: 2px 6px 3px 8px;
		background: #6d96ff;
		border-width: 1px 1px 1px 0px;
		border-style: solid;
		border-color: #e4eaf1;
		border-radius: 0px 4px 4px 0px;
	}

	&__user-time {
		margin-left: auto;
		color: #7c7b88;
	}

	*::-webkit-scrollbar {
		width: 10px;
	}
	*::-webkit-scrollbar-bottom {
		width: 4px;
	}

	*::-webkit-scrollbar-track {
		background-color: #f2f2f8;
	}

	*::-webkit-scrollbar-thumb {
		background-color: #b8b6e2;
		border-radius: 10px;
	}
}
