<div class="instruction__step-4 step">
	<div class="step__progress">
		<div class="step__done">
			<img
				src="@@images_u8views__done.svg"
				class="step__done-img"
				alt="done"
			/>
		</div>
		<div class="step__progress-bar"></div>
	</div>
	<div class="step__view-group">
		<div class="step__view">
			<h2 class="step__title step-link">
				Add a badge to GitHub profile
			</h2>
			<a href="#" class="step__subtitle step__readme-file-link">
				Go to edit the README.md file
			</a>
			<div class="step__main step-4">
				<nav class="step-4__nav">
					<ul class="step-4__nav-list">
						<li class="step-4__nav-item">
							<a href="#" class="step-4__nav-link">
								<img
									width="10"
									height="10"
									src="@@images_u8views__nav-book.svg"
									alt="book"
								/>
								Overview
							</a>
						</li>
						<li class="step-4__nav-item">
							<a href="#" class="step-4__nav-link">
								<img
									width="10"
									height="10"
									src="@@images_u8views__nav-repo.svg"
									alt="repo"
								/>
								Repositories
							</a>
						</li>
						<li class="step-4__nav-item">
							<a href="#" class="step-4__nav-link">
								<img
									width="10"
									height="10"
									src="@@images_u8views__nav-project.svg"
									alt="project"
								/>
								Projects
							</a>
						</li>
						<li class="step-4__nav-item">
							<a href="#" class="step-4__nav-link">
								<img
									width="10"
									height="10"
									src="@@images_u8views__nav-packages.svg"
									alt="packages"
								/>
								Packages
							</a>
						</li>
						<li class="step-4__nav-item">
							<a href="#" class="step-4__nav-link">
								<img
									width="10"
									height="10"
									src="@@images_u8views__nav-star.svg"
									alt="star"
								/>
								Stars
							</a>
						</li>
					</ul>
				</nav>
				<div class="step-4__profile">
					<div class="step-4__left-section">
						<div class="step-4__profile-photo">
							<img
								src="@@images_u8views__default-user-photo.png"
								alt="profile photo"
								class="step-4__photo"
							/>
						</div>
						<h3 class="step-4__profile-name">username</h3>
							<a href="#" class="step-4__edit-profile-link">
								Edit profile
							</a>
					</div>
					<div class="step-4__right-section">
						<div class="step-4__readme-file">
							<p class="step-4__readme-user">
								<span class="step-4__readme-name">
									AnastasiiaSihetii
								</span>
								/ README.md
							</p>
								<a href="#" class="step-4__edit">
									<img
										src="@@images_u8views__edit.svg"
										width="12"
										height="12"
										alt="edit"
									/>
								</a>
							<p class="step-4__readme-code">Hi there 👋</p>
						</div>
						<div class="step-4__popular-repo">
							<h4 class="step-4__popular-title">
								Popular repositories
							</h4>
							<div class="step-4__popular-item">
								<a href="#" class="step-4__repo-link">
									username
								</a>
								<span class="step-4__repo-settings">Public</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="step__view">
			<div class="step__subtitle">
				and add the counter to the README.md file using the Markdown
				syntax
			</div>
			<div class="step__main step__main-padding step-4">
				<div class="step-4__readme-description">
					<span class="step-4__file-user-name">
						Username/Username
					</span>
					is a special repository: its README.md will appear on your
					profile!
				</div>
				<div class="step-4__file">
					<div class="step-4__file-buttons">
						<button class="step-4__file-edit">
							<img
								src="@@images_u8views__tag-code.svg"
								alt="code"
								width="10"
								height="10"
							/>Edit file
						</button>
						<button class="step-4__file-preview">
							<img
								src="@@images_u8views__eye.svg"
								alt="code"
								width="10"
								height="10"
							/>Preview
						</button>
					</div>
					<div class="step-4__code">
						<ol class="step-4__code-list">
							<li class="step-4__code-item">### Hi there 👋</li>
							<li class="step-4__code-item"></li>
							<li class="step-4__code-item"></li>
							<li class="step-4__code-item">
								**Username/Username** is a ✨ _special_ ✨
								repository because its `README.md` (this file)
								appears on your GitHub profile.
							</li>
							<li class="step-4__code-item"></li>
							<li class="step-4__code-item">
								Here are some ideas to get you started:
							</li>
							<li class="step-4__code-item"></li>
							<li class="step-4__code-item"></li>
							<li class="step-4__code-item">
								<span class="step-4__markdown">
									[![Hits](https://u8views.com/api/v1/github/profiles/123738314/views/day-week-month-total-count.svg)](https://u8views.com/github/Username)
								</span>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
