<div class="instruction__step-3 step">
	<div class="step__progress">
		<div class="step__done">
			<img
				src="@@images_u8views__done.svg"
				class="step__done-img"
				alt="done"
			/>
		</div>
		<div class="step__progress-bar"></div>
	</div>
	<div class="step__view">
		<h2 class="step__title">Copy a badge code from your profile page</h2>
		<div class="step__main step-3">
			<div class="step-3__item-group">
				<div class="step-3__item">
					<div class="step-3__title">Markdown:</div>
					<div class="step-3__item-content">
						<p class="step-3__item-text js-code-for-copy">[![Hits](https://u8views.com/api/v1/github/profiles/{%s exampleProfile.SocialProviderUserID %}/views/day-week-month-total-count.svg)](https://u8views.com/github/{%s exampleProfile.Username %})</p>
						<button class="step-3__copy-text js-copy-code-button">
							<img
								src="@@images_u8views__copy-black.svg"
								width="24"
								height="24"
								alt="copy"
								class="step-3__copy-img js-copy-code-check"
							/>
							<img
								src="@@images_u8views__check-green.svg"
								width="24"
								height="24"
								alt="copy"
								class="step-3__copy-done js-copy-code-done"
							/>
						</button>
					</div>
				</div>
				<div class="step-3__item">
					<div class="step-3__title">HTML link:</div>
					<div class="step-3__item-content">
						<p class="step-3__item-text js-code-for-copy">&lt;a href=&quot;https://u8views.com/github/{%s exampleProfile.Username %}&quot;&gt;&lt;img src=&quot;https://u8views.com/api/v1/github/profiles/{%s exampleProfile.SocialProviderUserID %}/views/day-week-month-total-count.svg&quot;&gt;&lt;/a&gt;</p>
						<button class="step-3__copy-text js-copy-code-button">
							<img
								src="@@images_u8views__copy-black.svg"
								width="24"
								height="24"
								alt="copy"
								class="step-3__copy-img js-copy-code-check"
							/>
							<img
								src="@@images_u8views__check-green.svg"
								width="24"
								height="24"
								alt="copy"
								class="step-3__copy-done js-copy-code-done"
							/>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>