<div class="instruction__step-3 step">
	<div class="step__progress">
		<div class="step__done">
			<img
				src="@@images_u8views__done.svg"
				class="step__done-img"
				alt="done"
			/>
		</div>
		<div class="step__progress-bar"></div>
	</div>
	<div class="step__view">
		<h2 class="step__title">Copy a badge code from your profile page</h2>
		<div class="step__main step-3">
			<div class="step-3__item-group">
				<div class="step-3__item">
					<div class="step-3__title">Markdown:</div>
					<img
						src="@@images_u8views__markdown-blur.jpg"
						class="step-3__img"
						alt="markdown link"
					/>
				</div>
				<div class="step-3__item">
					<div class="step-3__title">HTML link:</div>
					<img
						src="@@images_u8views__html-link-blur.jpg"
						class="step-3__img"
						alt="markdown link"
					/>
					<div class="step-3__button">
						@@include('partials/u8views/buttons/button-log-in-instruction-black.html')
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
