<div class="instruction__step-2 active step">
	<div class="step__progress">
		<div class="step__done">
			<img
				src="@@images_u8views__done.svg"
				class="step__done-img"
				alt="done"
			/>
		</div>
		<div class="step__progress-bar"></div>
	</div>
	<div class="step__view">
		<h2 class="step__title step-link">
			Create a public repository with the same name as your username
		</h2>
		<div class="step__subtitle">
			<a href="#" class="step__link">
				Go to create repository
				<svg
					width="24"
					height="24"
					viewBox="0 0 24 24"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M7 17L17 7"
						stroke="#0057FF"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
					/>
					<path
						d="M7 7H17V17"
						stroke="#0057FF"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
					/>
				</svg>
			</a>
		</div>
		<div class="step__main step-2">
			<div class="step-2__item-group">
				<div class="step-2__item">
					<label for="user-name" class="step-2__label">
						Owner <span class="step-2__label-star">*</span>
					</label>
					<div class="step-2__select-block">
						<img
							class="step-2__profile-photo"
							src="@@images_u8views__github-user-photo.png"
							alt="photo"
						/>
						<select
							name="select"
							id="user-name"
							class="step-2__select"
						>
							<option value="">username</option>
							<option value="username">username</option>
						</select>
					</div>
				</div>
				<span class="step-2__slash">/</span>
				<div class="step-2__item">
					<label for="user-repo" class="step-2__label">
						Owner <span class="step-2__label-star">*</span>
					</label>
					<div class="step-2__input-block">
						<input
							id="user-repo"
							class="step-2__input"
							type="text"
							value="username"
						/>
						<svg
							width="24"
							height="25"
							viewBox="0 0 24 25"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M20 6.5L9 17.5L4 12.5"
								stroke="#61B33D"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
						</svg>
					</div>
				</div>
			</div>
			<div class="step-2__readme">
				<img
					src="https://github.githubassets.com/images/mona-whisper.gif"
					class="step-2__readme-img"
					alt="photo"
				/>
				<div class="step-2__readme-text">
					<span class="step-2__readme-strong">username/username</span>
					is a ✨<span class="step-2__readme-italic">special</span>✨
					repository that you can use to add a README.md to your
					GitHub profile. Make sure it's public and initialize it with
					a <span class="step-2__readme-strong">README</span> to get
					started.
				</div>
			</div>
			<div class="step-2__readme-file">
				<input type="checkbox" id="checkbox" class="step-2__checkbox" />
				<span class="step-2__readme-file-text">
					Add a README file
				</span>
			</div>

			<div class="step-2__footer">
					<a href="#" class="step-2__create-repo">Create repository</a>
			</div>
		</div>
	</div>
</div>
