<div class="instruction__step-1 active step">
	<div class="step__progress">
		<div class="step__done">
			<img
				src="@@images_u8views__done.svg"
				class="step__done-img"
				alt="done"
			/>
		</div>
		<div class="step__progress-bar"></div>
	</div>
	<div class="step__view">
		<h2 class="step__title">Sign up with GitHub on u8views</h2>
		<div class="step__main">
			<div class="wrapper-u8 step-wrapper">
				<img
					class="step__browser"
					src="@@images_u8views__browser.png"
					alt="browser"
				/>
				<header class="header step-block">
					<div class="header__wrapper wrapper-u8">
						<a href="/design" class="header__logo">
							<img
								class="header__logo-img"
								src="@@images_u8views__logo.svg"
								alt="logo"
							/>
						</a>
						<div class="header__stars">
							<iframe
								src="https://ghbtns.com/github-btn.html?user=u8views&repo=go-u8views&type=star&count=true"
								frameborder="0"
								scrolling="0"
								width="110"
								height="20"
								title="GitHub"
							></iframe>
						</div>
						<a href="#" class="log-in__header step-button">
							<img
								src="@@images_u8views__github.svg"
								width="24"
								height="24"
								alt="github"
								class="log-in__img"
							/>
							<span class="button__text">Log in with GitHub</span>
						</a>
					</div>
				</header>
				<section class="hero step-block">
					<div class="hero__main">
						<h1 class="hero__title">
							Track your GitHub profile views
						</h1>
						<p class="hero__subtitle">
							Receive, view and analyze your profile views and
							profile performance statistics
						</p>
						<a href="#" class="log-in__hero step-button">
								<img
									src="@@images_u8views__github.svg"
									width="12"
									height="12"
									alt="github"
									class="log-in__img"
								/>
								<span class="button__text">
									Log in with GitHub
								</span>
						</a>
					</div>
				</section>

				<div class="example__badges step-block">
					<h3 class="example__title">That badge looks like this:</h3>
					<div class="example__badges-group">
						<div class="history__badge">
							<span class="history__badge-title">
								Views per day
							</span>
							<span class="history__badge-count">17</span>
						</div>
						<div class="history__badge">
							<span class="history__badge-title">
								Views per week
							</span>
							<span class="history__badge-count">328</span>
						</div>
						<div class="history__badge">
							<span class="history__badge-title">
								Views per month
							</span>
							<span class="history__badge-count">986</span>
						</div>
						<div class="history__badge">
							<span class="history__badge-title">
								Total views
							</span>
							<span class="history__badge-count">48656</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
