<div class="instruction__step-5 step">
	<div class="step__progress">
		<div class="step__done">
			<img
				src="@@images_u8views__done.svg"
				class="step__done-img"
				alt="done"
			/>
		</div>
		<div class="step__progress-bar"></div>
	</div>
	<div class="step__view">
		<h2 class="step__title">
			View and analyze view statistics for your GitHub profile
		</h2>
		<div class="step__subtitle">
			You can also see referral registration statistics from your profile
		</div>
		<div class="step__main step-5">
			<img src="@@images_u8views__graph.png" alt="graph" />
			<img src="@@images_u8views__graph-rows.png" alt="graph" />
		</div>
	</div>
</div>
