
<header class="header">
	<div class="header__wrapper wrapper-u8">
		<a href="/design" class="header__logo">
			<img class="header__logo-img" src="@@images_u8views__logo.svg" alt="logo"></a>
		<div class="header__stars">
			<iframe src="https://ghbtns.com/github-btn.html?user=twbs&repo=bootstrap&type=star&count=true&size=large"
				frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>
		</div>
		@@include('partials/u8views/buttons/button-log-in-header.html')
	</div>
</header>